@import "../utilities/_variables";
body {
    background-color: $backgroundDay;
}
.gradient {
    background-image: $gradient-day;
}
.btnGrey {
    background-color: $grey-fill;
    border:1px solid $grey-border;
    box-shadow: 
        inset -1px -1px $browse-fill,
        inset 1px 1px $white;
}
.menuGrey {
    background-color: $browse-fill;
    box-shadow: 
        inset -2px -2px $browse-shadow,
        inset 2px 2px $white;
}
.target {
    border:1px solid #E6BBE2;
    box-shadow: 
        inset -2px -2px #E6DCE4,
        inset 2px 2px $shadow;
}
.btnMore {
    background-color: $fill-bt-more;
    box-shadow: 
        inset -2px -2px $shadow-more,
        inset 2px 2px $white;
    &:hover{
        background-color: #3A72DB;
    }
}
.themeActive {
    width: 150px;
    background-color: #FFF4FD;
    border:1px solid #CCA6C9;
    box-shadow: 
        inset -1px -1px #E6DCE4,
        inset 1px 1px $white;
        &::first-letter {
            text-decoration: underline;
        }
        &:hover, &:active {
            outline: none;
            background-color: #FFF4FD;
            border:1px solid #CCA6C9;
            box-shadow: 
            inset -1px -1px #E6DCE4,
            inset 1px 1px $white;
            &::first-letter {
                text-decoration: underline;
        }
        }
}
nav {
    .day {
        width: 102.6px;
    }
    .dark {
        display: none; //Por qué no lo desaparece
    }
    button {
        background-color: $fill-button;
        font-size: $button-size;
        &:hover, &:active {
            background-color: #E6BBE2;
        }
        }
    .btnGrey {
        width: 150px;
        &:hover, &:active {
            background-color: #FFF4FD;
            border:1px solid #CCA6C9;
            box-shadow: 
            inset -1px -1px #E6DCE4,
            inset 1px 1px $white;
            &::first-letter {
                text-decoration: underline;
        }
        }
    }
    }
section {
    .btnSearch {
        background-color:$browse-fill;
        color:$browse-shadow;
        &:active {
            color:$border-button;
            background-color:#E6BBE2;
            box-shadow: 
            inset -1px -1px #997D97,
            inset 1px 1px $white;
            img {
                filter: invert(100%);
            }
        }
    }
    .btnActive {
        color:$border-button;
        background-color: $fill-button;
        box-shadow: 
            inset -1px -1px #997D97,
            inset 1px 1px $white;
            img {
                filter: invert(100%);
            }
    }
}
.trendContainer {
    &:hover {
        background-color: $browse-fill;
        box-shadow: 
        inset -2px -2px $browse-shadow,
        inset 2px 2px $white;
    }
}
//General style misGifos
.misGifos {
    .buttons {
        button {
            box-shadow: 
            inset -1px -1px #997D97,
            inset 1px 1px $white;
            &:nth-child(2) {
                background-color: $fill-button;
                &:hover, &:active {
                    background-color: #E6BBE2;
                }   
            }
        }
    }
    .record {
        background-color: $fill-button;
        box-shadow: inset -1px -1px #997D97, inset 1px 1px $white;
        &:first-child {
            width: 36px;
        }
    }
    .play {
        background-color: $fill-button;
    }
    .itemsBox {
        button {
            background-color: $fill-button;
            &:hover, &:active {
                background-color: #E6BBE2;
            }
        }
    }
}
